{%- assign social = site.minima.social_links -%}

<ul class="social-media-list">
  {%- for glb in social -%}
    {%- if glb.platform == 'github' -%}
      <li><a href="https://github.com/{{ glb.user_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username">{{ glb.user_url }}</span></a></li>
    {%- endif -%}
    {%- if glb.platform == 'twitter' -%}
      <li><a href="https://www.twitter.com/{{ glb.user_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg> <span class="username">{{ glb.user_url }}</span></a></li>
    {%- endif -%}
  {%- endfor -%}
  
  {%- if site.rss -%}
    <li><a href="{{ 'feed.xml' | relative_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg> <span>{{ site.rss | escape }}</span></a></li>
  {%- endif -%}
</ul>